/* Estilos generales */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f8f8f8;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Encabezado */
header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #eee;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

/* Contenido principal */
main {
    padding: 20px;
    max-width: 960px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    height: auto;
    display: block; /* Evita espacios en blanco debajo de la imagen */
    margin: 20px auto; /* Centra la imagen */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #35424a;
    color: white;
}

/* Pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Diseño responsive */
@media (max-width: 768px) {
    main {
        padding: 10px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }
}